.container {
    display: flex;
}

button {
    width: 100px;
    height: 40px;
    margin-right: 10px;
}

.indicator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

.onMode {
    background-color: green;
}

.offMode {
    background-color: red;
}